<div id = 'container'>
    <ol class="breadcrumb">
        <li><%= link_to 'Alcaldia', root_path %></li>
        <li class="active">Deportes</li>
    </ol>
    <% @escenarios.each do |escenario| %>
        <h2 class = "text-center"><%= escenario.nombre %></h1>
        <div class = 'row text-center'>
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <%= link_to image_tag(escenario.imagen, size: "200") , sports_path, class: 'img-thumbnail' %>
            </div>
            <div class = "col-md-3">
                <p><%= escenario.descripcion %></p>
            </div>
        </div>
    <% end %>
</div>