<div id = 'container'>
    <nav role="navigation" class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
 


            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><%= link_to 'inicio', root_path %></li>
                    <li><a href="#">Quienes somos</a></li>
                    <li><a href="#">Programas y Proyectos</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Sala de Prensa</a></li>
                    <li><a href="#">Normatividad</a></li>
                    <li><a href="#">Atencion al ciudadano</a></li>
                </ul>
            </div>
        </nav>
</div>