<ol class="breadcrumb">
    <li><%= link_to 'inicio', root_path %></li>
    <li class="active">Programas y Proyectos</li>
</ol>
    
<h1>Programas y Proyectos</h1>
</br>
<p>Lista de los programas y proyectos que hay en estos momentos</p>
