<ol class="breadcrumb">
    <li><%= link_to 'inicio', root_path %></li>
    <li class="active">Servicios</li>
</ol>
    
<h1>Servicios</h1>
</br>
<p>Lista de los servicios que hay en estos momentos</p>
